db-data
data
node_modules
.   
ssl
# Environment Variables
global.env
backend/.env
frontend/.env
mirotalk/.env
ovenmediaengine/.env

# Certificates
certs
certs/certs
certs/private
certs/acme.json
certs/chain.pem
certs/fullchain.pem
certs/privkey.pem
node_modules
mirotalk_backup/
docker-compose.test.yml

# Traefik
traefik/certs
traefik/certs/private
traefik/certs/certs
traefik/acme.json
traefik/acme.json.backup
traefik/certs/chain.pem
traefik/certs/fullchain.pem
traefik/certs/privkey.pem
traefik/certs/letsencrypt.key
traefik/certs/letsencrypt.key.pem
traefik/certs/letsencrypt.key.pem.enc
traefik/ome

# Docker Compose
docker-compose.yml

# Package lock files
package-lock.json
*/package-lock.json

.git-filtered-backup
letsencrypt
security-reports