db-data
data
node_modules
.   
ssl
# Environment Variables
global.env
backend/.env
frontend/.env
mirotalk/.env
ovenmediaengine/.env
# Certificates
certs
certs/certs
certs/private
certs/acme.json
certs/chain.pem
certs/fullchain.pem
certs/privkey.pem
node_modules
mirotalk_backup/
