<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colourstream Room</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- OvenPlayer -->
    <script src="/ovenplayer/dist/ovenplayer.js"></script>
    <script src="/js/room.js"></script>
</head>
<body>
    <div class="container">
        <div id="ovenplayer" data-stream-key="<%= streamKey %>"></div>
        <div id="mirotalk-container">
            <iframe 
                id="mirotalk-frame"
                allow="camera; microphone; display-capture; fullscreen; clipboard-read; clipboard-write"
                src="/mirotalk/?room=<%= miroTalkRoom %>"
            ></iframe>
        </div>
    </div>

</body>
</html>
